In [1]:
#Dependencies
import json
import pprint
import requests
import pandas as pd 
from config import api_key

In [2]:
#function to find the restaurants. (location, term to search for, number of results,apikey)
def get_businesses(location, term,queries, api_key):
    headers = {'Authorization': 'Bearer %s' % api_key}
    url = 'https://api.yelp.com/v3/businesses/search'

    data = []
    for offset in range(0, queries, 50):
        params = {
            'limit': 50, 
            'location': location.replace(' ', '+'),
            'term': term.replace(' ', '+'),
            'offset': offset
        }

        response = requests.get(url, headers=headers, params=params)
        if response.status_code == 200:
            data += response.json()['businesses']
        elif response.status_code == 400:
            print('400 Bad Request')
            break

    return data

In [12]:
tor_data=[]
queries=1000
response=get_businesses("Toronto", "restaurants", queries, api_key)

for i in range (0, queries, 1):
    name=response[i]['name']
    address = response[i]['location']['address1']
    category=response[i]['categories'][0]['title']
    rating=response[i]['rating']
    review_count = response[i]['review_count']
    price_symbol = (response[i]).get('price')
    price_num = str(price_symbol).count('$')
    lat = response[i]['coordinates']['latitude']
    lon = response[i]['coordinates']['longitude']
    

    tor_data.append({"Restaurant Name":name,"Address":address,"Category":category,"Rating":rating,"Number of Reviews":review_count,"Price($)":price_symbol,"Price(1-5)":price_num,"Latitude":lat,"Longitude":lon})

tor_df=pd.DataFrame(tor_data)
len(tor_df)

1000

In [14]:
tor_df.head()

,Restaurant Name,Address,Category,Rating,Number of Reviews,Price($),Price(1-5),Latitude,Longitude
0,Pai Northern Thai Kitchen,18 Duncan Street,Thai,4.5,3335,$$,2,43.647840,-79.388720
1,Richmond Station,1 Richmond Street W,Canadian (New),4.5,869,$$$,3,43.651373,-79.379285
2,Mira,420A Wellington Street W,Peruvian,4.5,256,$$,2,43.644170,-79.396390
3,Rasa,196 Robert Street,Canadian (New),4.5,317,$$,2,43.662775,-79.403968
4,KINKA IZAKAYA ORIGINAL,398 Church Street,Japanese,4.0,1790,$$,2,43.660424,-79.378900

In [15]:
tor_df.to_csv('Data/tor_data.csv', index=False)

In [17]:
van_data=[]
queries=1000
response=get_businesses("Vancouver", "restaurants", queries, api_key)

for i in range (0, queries, 1):
    name=response[i]['name']
    address = response[i]['location']['address1']
    category=response[i]['categories'][0]['title']
    rating=response[i]['rating']
    review_count = response[i]['review_count']
    price_symbol = (response[i]).get('price')
    price_num = str(price_symbol).count('$')
    lat = response[i]['coordinates']['latitude']
    lon = response[i]['coordinates']['longitude']
    

    van_data.append({"Restaurant Name":name,"Address":address,"Category":category,"Rating":rating,"Number of Reviews":review_count,"Price($)":price_symbol,"Price(1-5)":price_num,"Latitude":lat,"Longitude":lon})

van_df=pd.DataFrame(van_data)
len(van_df)

1000

In [18]:
van_df.head()

,Restaurant Name,Address,Category,Rating,Number of Reviews,Price($),Price(1-5),Latitude,Longitude
0,The Flying Pig,1168 Hamilton Street,Canadian (New),4.0,1247,$$,2,49.275010,-123.122000
1,Kosoo,1128 Robson Street,Korean,4.5,69,$$,2,49.284940,-123.125920
2,Fat Mao Noodles,938 Helmcken Street,Noodles,4.5,27,None,0,49.279902,-123.127246
3,Miku,200 Granville Street,Japanese,4.5,2107,$$$,3,49.286918,-123.112763
4,Kingyo,871 Denman Street,Japanese,4.5,1012,$$,2,49.290610,-123.137140

In [19]:
van_df.to_csv('Data/van_data.csv', index=False)